*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login{
  width: 100%;
}
.login .login__left{
  width: 100%;
  
  background-image: url('https://picsum.photos/1200');
  background-size: cover;
  background-position: center;
  height:100vh;
}
.login .login__right{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login__right form{
  width: 80%;
}

.spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.MuiTable-root p{
  margin-bottom: 0;
}

.MuiTableBody-root tr td:first-of-type{
  text-align: center;
}
.MuiTableBody-root tr td{
  padding: 5px 0;
}
#root{
  height: 100vh;
}
.signDocument{
  width: 50%;
  margin: 0 auto;
}
.main-header{
  z-index: 1;
}